@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Ultrabold.otf");
  font-weight: 700;
}

p {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "NM";
  letter-spacing: -0.03em;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1d1d1d;
  overflow-y: scroll;
}

.sticky-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0 7px 0px black; */
  position: fixed;
  /* width: 100vw; */
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding: 5vw 8vw;
  background-color: #1d1d1d;
  /* border-bottom: 1px solid white; */
}

.srinivas-teja {
  display: inline;
}

.srinivas-teja > a {
  text-decoration: none;
}

.bigboi {
  color: white;
  font-size: 4.3vw;
  font-weight: 300;
  margin: 0;
}

.sub-bigboi {
  color: white;
  margin: 0;
  font-family: Inter;
  font-size: 3vw;
  font-weight: 300;
  opacity: 0.5;
}

.hamburger {
  fill: white;
  /* font-size: 7vw; */
  cursor: pointer;
}

.Hero-1 {
  margin-top: 20vw;
}

.lead {
  color: white;
  margin: 0;
  font-size: 13vw;
  font-weight: 700;
  line-height: 1;
}

.hero1-srini {
  width: 100%;
  margin-top: 5vw;
  border-radius: 5px;
}

.srini-image-container {
  position: relative;
  padding: 0 8vw;
}

.circle-thingy {
  position: absolute;
  width: 56vw;
  left: 0;
  top: 25%;
  margin-left: -20%;
  z-index: 10;
}

hr {
  display: block;
  color: white;
  width: 7vw;
  height: 1px;
  border: 0;
  border-top: 3px solid white;
  margin: 3vw 0;
}

.lead-container,
.desc-container {
  padding: 0 8vw;
}

.hr-container {
  margin-top: 6vw;
  margin-bottom: 5vw;
  padding-left: 8vw;
}

.sublead-container {
  padding: 0 0 0 8vw;
}

.sublead {
  color: white;
  font-size: 8.5vw;
  line-height: 1.2em;
  margin: 0;
}

.description {
  color: white;
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.7em;
  font-size: 4vw;
  margin: 5vw 0;
}

a {
  color: white;
}

.Hero-2,
.podcast-hero {
  margin-top: 7vw;
}

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid white;
  margin: 0 3vw;
  padding: 3vw 5vw;
}

.title-block .side-text {
  color: white;
  font-family: "Inter";
  font-weight: 300;
  font-size: 3.4vw;
}

.card-layout {
  margin: 7vw 0 3vw 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 0 3vw;
}

.card-image {
  width: 100%;
  vertical-align: top;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.card-image-container {
  margin: 0;
}

.card-text {
  background-color: white;
  margin: 0;
  padding: 6vw 6vw;
  border-radius: 0 0 5px 5px;
}

.card-text-title {
  margin: 0;
  margin-left: -1px;
  font-size: 8vw;
  color: #1d1d1d;
}

.card-text-subtitle {
  font-size: 3.5vw;
  color: #1d1d1d;
  opacity: 0.5;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

.card-text-description {
  color: #1d1d1d;
  font-family: "Inter";
  font-weight: 450;
  font-size: 3.5vw;
  line-height: 1.3em;
  margin: 3vw 3vw 0 0;
  letter-spacing: -0.04em;
}

.case-study {
  color: #bdbdbd;
  display: inline;
  /* padding: 0 0 0 8vw; */
  font-size: 3.5vw;
  line-height: 1.5em;
  /* font-family: "Inter";
  font-weight: 300;
  display: inline;
  margin: 0;
  font-size: 4.8vw; */
}

.arrow-svg {
  fill: #bdbdbd;
  width: 3.5vw;
  height: 3.5vw;
  margin-bottom: -0.2vw;
}

.case-study-container {
  margin-top: 5vw;
  padding: 0 8vw;
}
.link-arrow {
  float: right;
  width: 5vw;
  height: 5vw;
  margin-top: 3vw;
  /* margin-bottom: -10vw; */
}

/* PODCAST HERO SECTION */
.bold {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.podcast-dp {
  width: 100%;
}

.podcast-dp-container {
  width: 100%;
  justify-self: center;
}

.grid-container {
  margin-top: 10vw;
  padding: 0 8vw;
  column-gap: 4vw;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto auto;
}

.podcast-desc-container {
  justify-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.podcast-desc {
  color: white;
  font-family: "Inter";
  font-size: 4vw;
  font-weight: 200;
  line-height: 1.5em;
}

.podcast-platforms-container .title,
.podcast-platforms-container .underlined-title {
  justify-self: center;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 3.5vw;
  font-weight: 500;
}

.podcast-platforms-container .title {
  margin-top: 4vw;
}

/* .podcast-platforms-container .underlined-title {
  text-decoration: underline;
} */

.podcast-icon {
  justify-self: center;
  width: 9vw;
  padding-left: 5vw;
  padding-bottom: 4vw;
}

podcast-link {
  display: inline-block;
  height: 9vw;
}

.podcast-icons-container {
  margin-top: 1vw;
  padding-top: 6vw;
  border-top: 1px solid white;
}

.embed-container {
  box-sizing: border-box;
  padding-top: 6vw;
}

.embed-title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 3.6vw;
  margin-bottom: 3vw;
}

.embed {
  width: 90vw;
  height: 50vw;
  margin: 0 auto;
  transform-origin: center;
}
/* PODCAST HERO SECTION */

/* Playground */
.playground-section {
  margin-top: 7vw;
  margin-bottom: 20vw;
}

.playground-grid {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 0 1.5vw;
  margin-top: 5vw;
}

.playground-grid > a {
  display: block;
  width: 47vw;
  height: 47vw;
}

.playground-image-container {
  width: 100%;
  height: 100%;
  /* background-image: url("https://placekitten.com/300"); */
}

div[id="1"] {
  background-image: url("./images/snippets/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div[id="2"] {
  background-image: url("./images/snippets/2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div[id="3"] {
  background-image: url("./images/snippets/3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div[id="4"] {
  background-image: url("./images/snippets/4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div[id="5"] {
  background-image: url("./images/snippets/5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div[id="6"] {
  background-image: url("./images/snippets/6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Playground */

/* FOOOOOOOOTER */
.footer-hero {
  box-sizing: border-box;
  padding: 0 8vw;
  color: white;
  font-size: 7vw;
  font-weight: 700;
  line-height: 1.1em;
}

.footer-text-container > p {
  padding: 0 8vw;
  color: white;
  font-size: 3.5vw;
  line-height: 1.5em;
}

.footer-flex {
  box-sizing: border-box;
  margin: 10vw 0;
  padding: 0 5vw;
  display: flex;
  justify-content: space-around;
}

.footer-flex > a {
  font-size: 3.5vw;
}

.copyrights {
  display: block;
  padding-bottom: 10vw;
}

.copyrights > p {
  color: white;
  text-align: center;
  font-size: 3.5vw;
}

/* FOOOOOOOOTER */

/* About page */
/* ABOUT */
.about {
  margin-top: 20vw;
}

.sublead-container {
  padding: 0 8vw;
}

.clientele .embed-title {
  font-size: 4vw;
  margin-top: 10vw;
  text-align: left;
  padding: 0 8vw;
}

.clientele-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 8vw;
}

.clientele-container > ul {
  color: white;
  font-family: "Inter";
  font-weight: 300;
  font-size: 4vw;
  list-style-type: none;
  padding: 0;
  margin: 0 10vw 0 0;
}

.clientele-container > ul > li {
  margin-bottom: 1.7vw;
}

.about-footer {
  margin-top: 15vw;
}
/* ABOUT */

/* SKILLSET SECTION */
.experience-flex {
  /* width: 100%; */
  padding: 0 8vw;
  margin-top: 10vw;
}

.sublead-width {
  display: inline;
  /* margin-bottom: 3vw; */
}

.sublead-title-container {
  margin-bottom: 5vw;
}

.experience-icon {
  /* background-image: url("http://placekitten.com/500/500"); */
  width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  /* border-radius: 50%; */
  margin-right: 4vw;
}

.experience-item {
  display: flex;
  margin: 6vw 0;
  align-items: center;
}

.experience-title {
  font-family: Inter;
  font-weight: 300;
  font-size: 3.8vw;
  letter-spacing: -0.03em;
  color: white;
  margin: 0 0 1vw 0;
}

.experience-desc {
  font-family: Inter;
  font-weight: 300;
  font-size: 3.3vw;
  letter-spacing: -0.03em;
  color: #999999;
  margin: 0 0 0.5vw 0;
}

.softwares-flex {
  padding: 0vw 8vw;
  margin-top: 10vw;
}

.softwares-title {
  font-family: Inter;
  font-weight: 300;
  font-size: 3.8vw;
  letter-spacing: -0.03em;
  color: white;
  margin: 0 0 3vw 0;
}

.softwares-icon {
  background-image: url("http://placekitten.com/550/550");
  width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 3vw;
}

.softwares-item {
  margin: 5vw 0;
}
/* SKILLSET SECTION */

/* About page */

/* NAV OVERLAY */
.overlay-body {
  position: fixed;
  /* transform: translateY(-100%); */
  z-index: 60;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1d1d1d;
}

.close-button {
  color: white;
  font-size: 15vw;
  font-family: "Inter";
  font-weight: 250;
  position: absolute;
  transform: rotate(45deg);
  right: 7vw;
  top: 3vw;
}

nav.links {
  display: block;
  text-align: center;
  color: white;
  font-family: "NM";
  font-weight: 700;
  font-size: 13vw;
  margin: 0 auto;
  margin-top: 20vh;
}

.a-link {
  display: block;
  color: white;
  font-family: "NM";
  font-weight: 700;
  text-decoration: none;
  line-height: 1;
  margin: 4vw 0;
}

nav > p {
  margin: 0;
  padding: 0;
}

p.mail {
  font-weight: 300;
  font-size: 5vw;
  margin: 2vw 0;
}

/* FOOOOOOOTER */
.overlay-footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.overlay-footer-flex {
  box-sizing: border-box;
  margin: 10vw 0;
  padding: 0 20vw;
  display: flex;
  justify-content: space-around;
}

.overlay-footer-flex > a {
  text-decoration: underline;
  font-weight: 300;
  font-size: 3.5vw;
}

.overlay-copyrights {
  margin-bottom: 10vw;
}

.overlay-copyrights > p {
  font-family: "NM";
  color: white;
  text-align: center;
  font-size: 3.5vw;
}
/* FOOOOOOOTER */
/* NAV OVERLAY */
