@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Ultrabold.otf");
  font-weight: 700;
}

html {
  font-size: 16px;
  font-family: "NM";
  font-weight: 300;
  letter-spacing: -0.03em;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

body {
  background-color: #1d1d1d;
}

.top-image {
  width: 100%;
  max-width: 768px;
}

.top-srini-image {
  width: 100%;
  max-width: 768px;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0;
  line-height: 1;
  text-align: center;
}

.sub-title {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: 2vw 0;
  line-height: 1.4em;
}

.margin {
  margin-bottom: 5vw;
  line-height: 1.4em;
}

.text {
  margin-top: 6vw;
}

.icon {
  width: 3rem;
  margin: 3vw;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 5vw;
  box-sizing: border-box;
}

a.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  max-width: 700px;
  text-decoration: none;
  background-color: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
}

.button-title {
  color: #1d1d1d;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.2rem;
  -webkit-text-stroke: #1d1d1d;
  -webkit-text-stroke-width: 1px;
}

.button-subtitle {
  color: #757575;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
}

.bottom-text {
  text-align: center;
  margin: 7vw 0;
}

.copyrights {
  color: #858585;
  margin: 0;
}

.bottom-image {
  width: 100%;
  max-width: 768px;
  align-content: center;
}

.travis {
  display: block;
  width: 100%;
}

/* responsiveness */

@media screen and (min-width: 768px) {
  body {
    align-content: center;
    padding: 0 20vw;
  }

  .top-image,
  .bottom-image {
    margin: 0 auto;
  }

  .icon {
    width: 5rem;
    margin: 2vw;
  }

  .title {
    font-size: 5vw;
  }

  .sub-title {
    font-size: 2vw;
  }
}
