@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "NM";
  src: url("./fonts/NeueMachina-Ultrabold.otf");
  font-weight: 700;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "NM", serif;
  overflow-x: hidden;
  -webkit-transform: translate3d(0);
  -webkit-backface-visibility: hidden;
  -moz-transform: translate3d(0);
  /* cursor: none; */
}

body {
  margin: 0;
  padding: 0 12vw;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #1d1d1d;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 5px;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 1px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.8vw;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: -0.03em;
}

/* Underline animation for links */
.underlined-link::after {
  content: "";
  display: block;
  height: 7px;
  background-color: white;
  opacity: 0.4;
  width: 0%;
  margin-top: -7px;
  transition: width 0.25s;
}

.underlined-link:hover::after {
  width: 100%;
  transition: width 0.25s;
}
/* Underline animation for links */

.website-name {
  padding: 0;
}

.lead {
  box-sizing: border-box;
  color: white;
  font-size: 4vw;
  font-weight: 700;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  letter-spacing: -0.03em;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  color: white;
  width: 3.5vw;
  margin: 0;
  border: 0;
  border-top: 5px solid white;
}

.sublead {
  color: white;
  font-weight: 300;
  font-size: 4vw;
  width: 65vw;
  margin: 2vw 0;
  line-height: 1.1em;
  letter-spacing: -0.03em;
}

.description {
  color: white;
  font-size: 1.2vw;
  font-weight: 300;
  margin-top: 2vw;
  letter-spacing: -0.03em;
  line-height: 1.7em;
  z-index: 10;
}

.desc-container {
  margin-top: 4vw;
}

.title-block {
  display: flex;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.title-right-side-text {
  color: white;
  box-sizing: border-box;
  display: inline-block;
  font-family: Inter;
  font-weight: 300;
  font-size: 1.3vw;
  letter-spacing: -0.03em;
  margin-left: 1vw;
}

.line {
  margin-left: 2vw;
  flex: 1;
  overflow: hidden;
  border-top: white 1px solid;
}

.Hero1 {
  margin-top: 2.8vw;
  position: relative;
  display: block;
  height: 35vw;
  margin-bottom: 7vw;
}

.Hero1TextContainer {
  position: absolute;
  z-index: 10;
}

.desc-links {
  text-decoration: underline;
}

.travis-link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.3vw;
  height: 2.1vw;
  color: white;
  text-decoration: underline;
  cursor: default;
}

.travis-link:hover {
  cursor: default;
}

.travis {
  display: none;
  position: absolute;
  background-image: url("./images/travis.png");
  background-size: cover;
  width: 14vw;
  height: 14vw;
  z-index: 40;
}

.srini {
  position: absolute;
  top: 0;
  right: 0;
  height: 35vw;
}

.srini-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -6vw;
  margin-bottom: -6vw;
  width: 12vw;
}

.Hero2,
.Hero3,
.Hero4 {
  position: relative;
  box-sizing: border-box;
}

.work-text-container {
  display: block;
  position: relative;
  z-index: 2;
  transition: 500ms ease;
  /* height: 54vh; */
  height: 27.5vw;
}

.work-title {
  color: white;
  font-size: 4vw;
  display: block;
  letter-spacing: -0.03em;
  margin: 1vw 0;
}

.work-subtitle {
  color: white;
  display: block;
  font-size: 2vw;
  letter-spacing: -0.03em;
  font-weight: 300;
  line-height: 1;
  margin: 0.5vw 0;
}

.work-sub-subtitle {
  font-family: Inter;
  color: white;
  display: block;
  font-size: 1.2vw;
  letter-spacing: -0.03em;
  opacity: 0.7;
  font-weight: 300;
  line-height: 1;
  margin: 3vw 0;
}

.work-description {
  font-family: Inter;
  color: white;
  display: block;
  font-size: 1.2vw;
  width: 20vw;
  letter-spacing: -0.03em;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 4vw;
}

.casestudy-link {
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 10.5vw;
}

.casestudy-link .span,
.casestudy-link .link {
  color: white;
  font-weight: 300;
  font-size: 1.2vw;
  font-family: Inter;
  letter-spacing: -0.03em;
  opacity: 0.75;
}

.work-layout {
  display: flex;
  width: 100;
  position: relative;
  margin: 0 3vw;
  transition: 500ms ease;
  margin-top: 3vw;
  margin-bottom: 8vw;
}

.work-image {
  opacity: 0.25;
  position: absolute;
  right: 0;
  z-index: 0;
  height: 32vw;
  transition: 500ms ease;
}

.work-image:hover {
  z-index: 20;
  opacity: 1;
  /* cursor: none; */
}

.arrow {
  margin-left: 0.5vw;
  margin-top: 16px;
}

.link {
  text-decoration: underline;
  letter-spacing: -0.03em;
}

.Hero3 {
  margin-bottom: 1vw;
}

.podcast-container {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.podcast-description {
  font-family: Inter;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.5em;
  text-align: left;
  color: white;
  width: 42vw;
  padding-right: 6.5vw;
  margin-top: 0vw;
}

.podcast-platform-title {
  color: white;
  font-size: 1.4vw;
  font-weight: 300;
  margin-top: 1.9vw;
}

.podcast-icon {
  width: 2.3vw;
  height: 2.3vw;
}

.podcast-link {
  display: inline-block;
  height: 2.3vw;
  margin-right: 1vw;
}

.podcast-image {
  display: inline;
  width: 25vw;
  transform: scale(0.8);
  transform-origin: top right;
}

.podcast-preview-title {
  color: WHITE;
  font-weight: 300;
  font-size: 1.75vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.podcast-preview {
  width: 35vw;
  height: 15vw;
}

/* snippets */
.snippets {
  margin-top: -3vw;
  margin-bottom: 5vw;
}

.snippets-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 1vw;
  row-gap: 1vw;
  justify-items: center;
  justify-content: center;
  margin: 0 -5vw 0vw -5vw;
}

.snippets-grid > a {
  display: block;
  width: 27vw;
  height: 27vw;
  overflow: hidden;
}

.snippets-image-container {
  /* background-image: url("http://placekitten.com/800"); */
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
  transform-origin: center;
}

.snippets-grid > a:hover .snippets-image-container {
  width: 100%;
  height: 100%;
  transform: scale(1.05, 1.05);
  transform-origin: center;
}

div[id="1"] {
  background-image: url("./images/snippets/1.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

div[id="2"] {
  background-image: url("./images/snippets/2.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

div[id="3"] {
  background-image: url("./images/snippets/3.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

div[id="4"] {
  background-image: url("./images/snippets/4.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

div[id="5"] {
  background-image: url("./images/snippets/5.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

div[id="6"] {
  background-image: url("./images/snippets/6.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}
/* snippets */

.hero4flex {
  margin: 1vw 0 4vw 0;
  display: flex;
  justify-content: space-between;
}

.link-flex {
  display: flex;
  justify-content: flex-end;
}

.bottomUL {
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1vw;
  width: 25%;
}

.bottomLI {
  text-decoration: underline;
  color: white;
  margin: 10px 0;
  width: 10vw;
  text-align: start;
}

.footer {
  margin: 5vw auto;
  width: 20%;
}

.copyrights {
  font-size: 1.2vw;
  color: white;
}

.profile-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

/* About page styles */

.about-image {
  float: right;
  margin-top: 5vw;
}

.sublead-small {
  color: white;
  font-weight: 300;
  font-size: 2.6vw;
  width: 50vw;
  margin: 3vw 0;
  line-height: 1.1em;
  letter-spacing: -0.03em;
}
.about-intro-container {
  margin-top: 3.8vw;
}

.about-description {
  color: white;
  margin: 2vw 0;
  font-family: Inter;
  font-weight: 300;
  font-size: 1.2vw;
  letter-spacing: -0.03em;
  line-height: 1.7em;
}

.about-description-container {
  width: 46vw;
}

.clientele-container {
  display: flex;
  justify-content: flex-end;
  float: right;
}
.clientele-inner-container {
  width: 40%;
  margin-right: 4.5vw;
}

.clientele-ul {
  display: block;
  padding: 0;
}
.clientele-title {
  color: white;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-top: 2.5vw;
}

.clientele-li {
  color: white;
  font-family: Inter;
  font-weight: 300;
  letter-spacing: -0.03em;
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

.bottom-line {
  margin-top: 7vw;
}

/* ABOUT PAGE SKILLSET */
.skillset-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  margin-top: 6vw;
}

.experience-flex {
  width: 100%;
}

.sublead-width {
  display: inline;
  /* margin-bottom: 3vw; */
}

.sublead-container {
  margin-bottom: 2.8vw;
}

.experience-icon {
  /* background-image: url("http://placekitten.com/500/500"); */
  width: 4.5vw;
  height: 4.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  /* border-radius: 50%; */
  margin-right: 1vw;
}

.experience-item {
  display: flex;
  margin: 2vw 0;
  align-items: center;
}

.experience-title {
  font-family: Inter;
  font-size: 1.2vw;
  letter-spacing: -0.03em;
  color: white;
  margin: 0 0 0.5vw 0;
}

.experience-desc {
  font-family: Inter;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: -0.03em;
  color: #999999;
  margin: 0 0 0.2vw 0;
}

.softwares-title {
  font-family: Inter;
  font-size: 1.2vw;
  letter-spacing: -0.03em;
  color: white;
  margin: 0 0 1.5vw 0;
}

.softwares-icon {
  background-image: url("http://placekitten.com/550/550");
  width: 4.5vw;
  height: 4.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 1vw;
}

.softwares-item {
  margin: 2vw 0;
}
/* ABOUT PAGE SKILLSET */

/* responsiveness */

@media screen and (width: 1536px) {
  .podcast-image {
    width: 22vw;
  }

  .about-image {
    width: 22vw;
  }
}

@media screen and (min-width: 1920px) {
  .casestudy-link {
    width: 100%;
    margin-top: 5.5vw;
    margin-bottom: 4vw;
    margin-left: 11.5vw;
  }

  .Hero3 {
    margin-top: 4vw;
    margin-bottom: 3vw;
  }

  .arrow {
    margin-left: 0.5vw;
  }

  .casestudy-link {
    margin-top: 4.8vw;
  }
  .casestudy-link .span,
  .casestudy-link .link {
    opacity: 0.75;
  }
  .center {
    margin-top: -2vw;
  }

  .podcast-platform-title {
    color: white;
    font-size: 1.4vw;
    font-weight: 300;
    margin-top: 2vw;
  }

  .podcast-content {
    margin-left: 2.5vw;
  }

  .snippets {
    margin-top: -1vw;
    margin-bottom: 5vw;
  }
}
